::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #1C274C;
  border: none;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1C274C;
}

::-webkit-scrollbar-thumb:active {
  background: #1C274C;
}

::-webkit-scrollbar-track {
  background: #edf0f1;
  border: none;
  border-radius: 8px;
}

::-webkit-scrollbar-track:hover {
  background: #edf0f1;
}

::-webkit-scrollbar-track:active {
  background: #edf0f1;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
