@import './reset.styl';
@import './components/*';


body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background: var(--color-background);
  overflow-x: hidden;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

